.list-persons {
  display: grid;
  margin: auto;
  width: 75%;
  height: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .list-persons {
    grid-template-columns: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .list-persons {
    grid-template-columns: 50% 50%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .list-persons {
    grid-template-columns:33% 33% 33%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .list-persons {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .list-persons {
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
  }
}
